# special files
.gitignore
.gitattributes

# config files
eslint.config.mjs
jest.config.js
tsconfig.json

# special folders
.github
.vscode

# dev folders
node_modules
src
test

# tests
*/**/*.test.{ts,tsx,js,jsx}
